.graph {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  size: 100px;
  overflow: visible;
  z-index: 1;
}
.graph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  overflow: visible;
}
.node {
  display: inline-block;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-color: #eee;
  margin: 0.5rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer; /* Add cursor for hover effect */
}

.node.selected {
  fill: #99ccff; /* Change color for selected node */
  color: white;
}

.edge {
  stroke: black;
  stroke-width: 2px;
  fill: none;
  cursor: pointer; /* Add cursor for hover effect */
}
